body {
  text-align: center;
}

h4 {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  font-family: "Courgette", cursive;
}

ul {
  list-style: none;
}

.today-weather {
  max-width: 900px;
  border: 5px solid white;
  margin: 10px auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Sriracha", cursive;
  background-color: rgb(114, 166, 245);
}

.units {
  color: black;
  position: relative;
  top: -15px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.card {
  border: black;
  background: linear-gradient(to right, rgb(112, 134, 235), rgb(205, 139, 240));
  margin: 10px auto;
  text-align: center;
  width: 150px;
  height: 260px;
  padding: 5px;
  line-height: 0.5;
}

#city-input {
  width: 350px;
  height: 35px;
  border-radius: 10px;
}

#city-search-button {
  border-radius: 50%;
  font-size: 28px;
  line-height: 35px;
  cursor: pointer;
}

#current-location {
  border-radius: 50%;
  font-size: 30px;
  line-height: 35px;
  cursor: pointer;
}

#city-search-button:hover {
  background-color: rgb(225, 214, 65);
}

#current-location:hover {
  background-color: orange;
}

#place {
  padding-top: 10px;
  text-transform: capitalize;
}

#weatherDescription {
  text-transform: capitalize;
}

#temperature {
  font-size: 40px;
  font-weight: 50;
}
