body {
  display: block;
  text-align: center;
}

ul {
  list-style: none;
}

h6 {
  display: block;
  text-align: center;
  line-height: 1;
  padding-bottom: 10px;
  font-family: "Courgette", cursive;
}

.today-weather {
  max-width: 500px;
  border: 5px solid red;
  margin: 5px auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Sriracha", cursive;
}

.forecast-weather {
  margin-top: 10px;
  box-sizing: border-box;
  border: 5px solid blue;
  padding-top: 5px;
  font-size: 16px;
  text-align: left;
}

.units {
  position: relative;
  top: -15px;
}

#city-input {
  width: 350px;
  height: 35px;
  border-radius: 10px;
}

#city-search-button,
#current-location {
  border-radius: 50px;
  font-size: 30px;
  cursor: pointer;
}

#city-search-button:hover {
  background-color: royalblue;
}

#current-location:hover {
  background-color: orange;
}

#place {
  padding-top: 10px;
  text-transform: capitalize;
}

#weatherDescription {
  text-transform: capitalize;
}

#typeACity,
#dateAndTime,
#humidity,
#wind {
  line-height: 1;
}

#temperature {
  font-size: 40px;
  font-weight: 50;
}
