body {
  display: block;
  text-align: center;
}

h6 {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  font-family: "Courgette", cursive;
}

ul {
  list-style: none;
}

.today-weather {
  border: 5px solid red;
  margin: 5px auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Sriracha", cursive;
}

.forecast-weather {
  margin-top: 10px;
  border: 5px solid blue;
  padding-top: 5px;
  font-size: 16px;
  text-align: left;
}

.units {
  color: black;
  position: relative;
  top: -15px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

#city-input {
  width: 350px;
  height: 35px;
  border-radius: 10px;
}

#city-search-button {
  border-radius: 50%;
  font-size: 28px;
  line-height: 35px;
  cursor: pointer;
}

#current-location {
  border-radius: 50%;
  font-size: 30px;
  line-height: 35px;
  cursor: pointer;
}

#city-search-button:hover {
  background-color: royalblue;
}

#current-location:hover {
  background-color: orange;
}

#place {
  padding-top: 10px;
  text-transform: capitalize;
}

#weatherDescription {
  text-transform: capitalize;
}

#temperature {
  font-size: 40px;
  font-weight: 50;
}
