body {
  text-align: center;
}

footer {
  font-size: 25px;
  display: block;
  text-align: center;
  padding-bottom: 20px;
  font-family: "Courgette", cursive;
  color: #fff;
}

.today-weather {
  color: #fff;
  border: 5px solid white;
  margin: 10px auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Sriracha", cursive;
}

.forecast {
  border-top: 1px solid #fff;
}

.units {
  color: #fff;
  position: relative;
  top: -15px;
}

.active {
  color: #fff;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.card {
  background: linear-gradient(to right, rgb(194, 161, 238), rgb(150, 188, 245));
  opacity: 0.75;
  margin: 8px auto;
  text-align: center;
  width: 150px;
  height: 270px;
  padding: 5px;
}

.card:hover {
  opacity: 1;
}

#city-input {
  width: 350px;
  height: 35px;
  border-radius: 10px;
}

#city-search-button,
#current-location {
  background: linear-gradient(to right, rgb(194, 161, 238), rgb(150, 188, 245));
  border-radius: 50%;
  font-size: 28px;
  line-height: 35px;
  width: 50px;
  cursor: pointer;
  opacity: 0.6;
}

#city-search-button:hover,
#current-location:hover {
  background-color: #fff;
  opacity: 1;
}

#place {
  padding-top: 10px;
  text-transform: capitalize;
}

#weatherDescription {
  text-transform: capitalize;
}

#temperature {
  font-size: 40px;
  font-weight: 50;
}
